!!!

html
    head
        title Realtime Chat Application
        script(src="/public/js/jquery.js")
        script(src="/public/js/bootstrap.js")
        link(rel="stylesheet", type="text/css", href="/public/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/public/css/bootstrap-theme.min.css")
        link(rel="stylesheet", type="text/css", href="/public/css/chat.css")
    body
        block content
