extends base

block content

    #head
        a.btn.btn-primary(href="/logout") Logout

    #msgs
    #users

    form#chatForm
        label(for="msg") #{user}:&nbsp;
        input#msg(type="text")
        button#sendBtn.btn.btn-primary Send

        script(src="http://localhost:8080/socket.io/socket.io.js")

        script(src="/public/js/app.min.js")

        script
            var userName = '#{user}';







